.detail-form__label,
.detail-form__data {
    padding: 20px 40px;
}

.detail-form__data input,
.detail-form__data textarea {
    border: none;
}

.form__button {
    text-align: right;
    margin: 32px 0;
}

.form__button-approvals {
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #FFF;
    padding: 10px 20px;
}

.form__button-approved {
    border: 1px solid #7a7979;
    border-radius: 5px;
    background: #7a7979;
    color: #FFF;
    padding: 10px 20px;
    
}

